// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$white: #fff;
$black:#333;

// sidebar
$menuText:#bfcbd9;
$menuBG: rgb(50, 65, 87);
$menuActiveBG: #324157;
$menuActiveTxt:#20a0ff;
$HeaderBG:#242f42;


:export {
  MenuText: $menuText;
  MenuBG: $menuBG;
  MenuActiveTxt: $menuActiveTxt
}
